@import "../node_modules/bootstrap/scss/bootstrap.scss";


.userCard{
    // height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 21em;

    // .bodyCard{
    //     max-height: auto;
    //     height: 12em;
    //     background-color: red;
    // }
}