@import "../node_modules/bootstrap/scss/bootstrap.scss";

.card{
    width: 18em;
    height: 30em;
    background-color: rgb(189, 193, 193);
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;

    .cardImg{
        width: 16em;
        height: 14em;
        border-radius: 0.4em;
    }

    .info{
        border-radius: 0.4em;
    }
}