.homeWall {
    width: 100vw;
    height: 77.1vh;
    background-color: aqua;
    background-image: url('https://img.interempresas.net/fotos/2589337.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .centerText{
        background-color: rgba(255, 255, 255, 0.503);
        padding: 0.5em;
        border-radius: 1em;
        text-align: center;
    }
}