@import "../node_modules/bootstrap/scss/bootstrap.scss";

.headerWall{
    background-color: pink;
    height: 7vh;
}
.black {
    background-color: pink;
}
#dropdown{
    background-color: yellow;
    color: white;
}