@import "../node_modules/bootstrap/scss/bootstrap.scss";

.headerWall{
    background-color: rgb(84, 236, 104);
    height: 7vh;
    padding: 0;
    margin: 0;
}
.black {
    background-color: rgb(84, 236, 104);
    color: black;
}
#dropdown{
    background-color: yellow;
    color: black;
}