@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;

  .App{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

  }
}