@import "../node_modules/bootstrap/scss/bootstrap.scss";

.productWall {
    width: 100vw;
    min-height: 78vh;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}