@import "../node_modules/bootstrap/scss/bootstrap.scss";

.productWall {
    width: 100vw;
    height: 78vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}